{% extends 'wrapper.html' %}

{% block title %}User create{% endblock %}

{% block content %}
    <div>
        <h3>Register</h3>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}<br>
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <button type="submit">Register</button>
        </form>
    </div>
{% endblock %}