{% extends 'wrapper.html' %}
{% block title %}
    {{ user.username }}
{%  endblock %}

{% block content %}
    <div>
        <p><h3><b> {{  user.username }} </b></h3></p>
        {% if user.first_name or user.last_name %}
            <p>Name:
            {% if user.first_name %}
                {{ user.first_name }}
            {%  endif %}
            {% if user.last_name %}
                {{ user.last_name }}
            {% endif %}
        {% endif %} </p>
        {% if user.email %}
            <p>e-mail: {{ user.email }}</p>
        {% endif %}
        <p>created at: {{ user.date_joined|date:"d M Y H:i" }}</p>
        {% if user.is_superuser %}
            <p>Superuser</p>
        {% endif %}
        {% if tasks %}
            Tasks assigned:
            <ul>
                {% for task in tasks %}
                    <li><a href="/task/overview/{{ task.id }}/">{{ task.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if groups %}
            Member of:
            {% for group in groups %}
                <li><a href="/group/overview/{{ group.id }}/">{{ group.name }}</a></li>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
