{% extends "wrapper.html" %}

{% block title %}User edit{% endblock %}

{% block content %}
<div>
<h3>Edit Profile</h3>


<form method="POST">
    {% csrf_token %}
    {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
    {% endfor %}
    <button type="submit">Save</button>
</form>

</div>
{% endblock %}