{% extends 'wrapper.html' %}

{% block title %}User overview{% endblock %}

{% block content %}
    <div>
        {% if CurrentUser %}
            {% if CurrentUser.id == user.id%}
                <h3>This is yours overview.
            {% else %}
                <h3>This is <a href="/user/detail/{{ CurrentUser.id }}/">{{ CurrentUser.username }}</a>'s overview.
            {% endif %}
            </h3>
        {% endif %}
        {% include "task/views.html" %}
        {% include "group/views.html" %}
    </div>
{% endblock %}