<div>
    <p>Users</p> 
    {% if users %}
        <table>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Admin</th>
                <th>Last login</th>
                <th>Registration</th>
            </tr>
            {% for CurrentUser in users %}
                <tr>
                    <td><a href="/user/overview/{{ CurrentUser.id }}/">{{ CurrentUser.username }}</a></td>
                    <td>{{ CurrentUser.first_name }} {{ CurrentUser.last_name}}</td>
                    <td>{{ CurrentUser.email }}</td>
                    <td>{{ CurrentUser.is_superuser}}</td>
                    <td>{{ CurrentUser.last_login | date:"d/m/Y H:i" }}</td>
                    <td>{{ CurrentUser.date_joined | date:"d/m/Y H:i" }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No users are available.</p>
    {% endif %}
</div>