{% extends 'wrapper.html' %}

{% block content %}
<div>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <h3>New group</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}
