{% extends 'wrapper.html' %}

{% block title %}Group{% endblock %}

{% block content %}
    <div>
    <p><b>{{ group.name }}</b></p>
    <p>Created at: {{ group.created_at|date:"d M Y H:i" }}</p>
    {% if group.description %}
        <p>Description:</p>
        <div>
            <p>{{ group.description }}</p>
        </div><br>
    {% endif %}
    </div>
{% endblock %}
