{% extends 'wrapper.html' %}

{% block title %}Group info{% endblock %}

{% block content %}
    <div>
        <h2>Group overview</h2>
        {% if CurrentGroup %}
            <h3>You can see the <a href="/task/detail/{{ CurrentGroup.id }}/">detail</a> or 
            you can <a href="/task/edit/{{ CurrentGroup.id }}/">edit</a> this group</h3>
        {% endif %}
        {% include "user/views.html" %}
        {% include "task/views.html" %}
    </div>
{% endblock %}
