<div>
    <p>Groups <a href="{% url 'group_create' %}">New group</a></p>
    {% if groups %}
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created at</th>
                <th colspan="2">Edit</th>
            </tr>
            {% for group in groups %}
                <tr>
                    <td>{{ group.id }}</td>
                    <td><a href="/group/overview/{{ group.id }}/">{{ group.name }}</a></td>
                    <td>{{ group.description }}</td>
                    <td>{{ group.created_at | date:"d/m/Y H:i"}}</td>
                    <td><a href="{% url 'group_delete' group_id=group.id %}">Delete</a></td>
                    <td><a href="{% url 'group_edit' group_id=group.id %}">Edit</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No groups are available.</p>
    {% endif %}
</div>
