{% extends 'wrapper.html' %}

{% block title %}Error{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Hey {{ user.username }}, you should not be here!</h2>
    {% else %}
        <h2>Hey you should not be here!</h2>
    {% endif %}
{% endblock %}