<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Pepa je pan{% endblock %}</title>
  <style>
    div {
      border:0.2em solid #262633;
      padding:0.2em;
      margin-top: 0.5em;
      text-align: center;
      width: auto;
    }
    h3,h2 {
      margin:0;
      padding:0;
    }
    ul{
      margin:0;
    }
    p {
      margin:0.2em;
    }
    td,th{
      text-align:center;
      border:0.15em solid #262633;
      padding:0.2em;
    }
    body {
      background-color: #141422;
      color: #fff;
    }
    .completed{
      background-color: #040;
    }
    .notcompleted{
      background-color: #400;
    }
    a {
      color: white;
    }
    #page-wrap {
      max-width: 600px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <main id="page-wrap">
    {% block header %}
      <div>
        {% if user.is_authenticated %}
          Hello <a href="/user/detail/{{ user.id }}/">{{ user.username }}</a>,
          you can go <a href="/user/overview/{{ user.id }}/">home</a>,
          <a href="/user/edit/{{ user.id }}/">edit</a> 
          or <a href="{% url 'logout' %}">logout</a>. What a nice functions, right?
        {% else %}
          <a href="{% url 'home' %}">Home</a>
          You are not logged in
          <a href="{% url 'login' %}">login</a> or
          <a href="{% url 'usercreate' %}">register</a>
        {% endif %}
      </div>
      {% block content %}

      {% endblock %}
    {% endblock %}
  </main>
</body>
</html>