{% extends 'wrapper.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div>
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
      <p style="color: red">{{ error }}</p>
    {% endfor %}
    {% for field in form %}
      <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
      </p>
    {% endfor %}
    <button type="submit">Login</button>
  </form>
</div>
{% endblock %}