<div >
    <p>Comments <a href="/comment/create/{{ CurrentTask.id }}/">Add comment</a></p> 
    {% if comments %}
        {% for comment in comments %}
            <table>
                <tr>
                    <th><a href="/user/overview/{{ comment.user_id.id }}/">{{ comment.user_id.username }}</a>
                    at {{ comment.created_at | date:"d/m/Y H:i"}}
                    {% if request.user.id == comment.user_id.id %}
                     <a href="/comment/delete/{{ comment.id }}/">delete</a></th>
                    {% endif %}
                </tr>
                <tr style="word-wrap:break-word;width: 200px;">
                    <td>{{ comment.description }}</td>
                </tr>
            </table>
        {% endfor %}
    {% else %}
        <p>No comments are available.</p>
    {% endif %}
</div>