{% extends 'wrapper.html' %}

{% block title %}Task detail{% endblock %}

{% block content %}
    <div>
        <p><b>{{task.name}}</b> created at <b>{{task.created_at | date:"d/m/Y H:i:s" }}</b></p>
        {% if updated %}
        <p>Has been modified at <b>{{task.updated_at | date:"d/m/Y H:i:s" }}</b></p>
        {% endif %}
        <p>Description: <b>{{ task.description }}</b><p>
        <p>Solvers:</p>   
        <ul>
            {% for solver in solvers %}
                <li><a href="/user/overview/{{ solver.id }}/">{{ solver.username }}</a></li>
            {% endfor %}
        </ul>

        {% if task.completed %} 
            <p>Task completed at <b>{{ task.completed_at | date:"d/m/Y H:i" }}</b>, 
            <a href="/task/check/{{ task.id }}/">uncomplete the task.</a></p>
        {% else %}
            <p>Is the task{{ task.completed_at | date:"d/m/Y H:i" }} 
            <a href="/task/check/{{ task.id }}/">complete?</a></p>
        {% endif %}
        <p>You can <a href="/task/delete/{{ task.id }}/">delete</a> or <a href="/task/edit/{{ task.id }}/">edit</a> this task.</p>
        <p>You can go to <a href="/task/overview/{{ task.id }}/">overview</a> of this task.</p>
        
    </div>
{% endblock %}