{% extends 'wrapper.html' %}

{% block title %}Task overview{% endblock %}

{% block content %}
    <div class="center">
        <h2>Task overview</h2>
        {% if CurrentTask %}
            <h3>You can see the <a href="/task/detail/{{ CurrentTask.id }}/">detail</a> or 
            you can <a href="/task/edit/{{ CurrentTask.id }}/">edit</a> this task</h3>
        {% endif %}
        {% include "user/views.html" %}
        {% include "group/views.html" %}
        {% include "comment/views.html" %}
    </div>
{% endblock %}