<div>
    {% if CurrentGroup %}
        <p>Tasks <a href="/task/create/{{ CurrentGroup.id }}/">New task</a></p>
    {% else %}
        <p>Tasks <a href="{% url 'taskcreate' %}">New task</a></p> 
    {% endif %}
    {% if tasks %}
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Deadline</th>
                <th>Completed</th>
                <th colspan="3">Edit</th>
            </tr>
            {% for task in tasks %}
                <tr class="{% if task.completed %}completed{% else %}notcompleted{% endif %}">
                    <td><a href="/task/overview/{{ task.id }}/">{{ task.name }}</a></td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.deadline | date:"d/m/Y H:i"}}</td>
                    <td>{{ task.completed_at | date:"d/m/Y H:i" }}</td>
                    <td><a href="/task/delete/{{ task.id }}/">Delete</a></td>
                    <td><a href="/task/check/{{ task.id }}/">Check</a></td>
                    <td><a href="/task/edit/{{ task.id }}/">Edit</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No tasks are available.</p>
    {% endif %}
</div>